@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --main-color: #1d4d35;
  --black-color: #0e0e0e;
  --border: 1.6px solid rgba(255, 255, 255, 0.4);
}

* {
  font-family: "Lato";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;
}

/*! base html codes  */
html {
  font-size: 62.5%;
  scroll-padding-top: 144px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 13px;
  background-color: white;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  border-radius: 48px;
  background-color: var(--black-color);
}

body {
  background-color: var(--main-color);
  overflow-x: hidden;
}

section {
  padding: 56px 7%;
}

a {
  color: var(--black-color);
  text-decoration: none;
}

.btn {
  margin-top: 16px;
  display: inline-block;
  padding: 2rem 60px;
  border-radius: 480px;
  font-size: 27.2px;
  color: #fff;
  background-color: #1d4d35;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.heading {
  color: #fff;
  text-transform: uppercase;
  font-size: 64px;
  margin-bottom: 56px;
  border-bottom: 1.6px solid #fff;
}

.heading span {
  color: var(--black-color);
  text-transform: uppercase;
}

.search-input {
  font-size: 25.6px;
  color: var(--black-color);
  padding: 16px;
  text-transform: none;
  border-radius: 48px;
}

/*header start  */

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background-color: #ffffff;
  width: 800px;
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 48px;
  box-shadow: 0px 0px 25px 2px rgb(0 0 0 / 75%);
  transform: scaleY(0);
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form i {
  cursor: pointer;
  font-size: 35.2px;
  margin-right: 24px;
  color: var(--black-color);
}

.header .search-form input {
  width: 100%;
}

.header .logo img {
  height: 160px;
}

.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  margin: 32px 7%;
  border-radius: 480px;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .navbar a {
  margin: 0 16px;
  font-size: 25.6px;
  color: var(--black-color);
  border-bottom: 1.6px solid transparent;
}

.header .navbar .active,
.header .navbar a:hover {
  border-color: var(--main-color);
  padding-bottom: 8px;
}

.header .buttons button {
  cursor: pointer;
  font-size: 40px;
  margin-left: 32px;
  background-color: transparent;
  color: #1d4d35;
}

.header .cart-items-container {
  position: absolute;
  top: 95%;
  height: calc(100vh - 144px);
  width: 560px;
  background-color: #fff;
  box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
  right: -100%;
}

.header .cart-items-container.active {
  right: 48px;
}

.header .cart-items-container .cart-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 24px;
}

.header .cart-items-container .cart-item:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.header .cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 16px;
  right: 24px;
  font-size: 32px;
  cursor: pointer;
  color: var(--black-color);
}

.header .cart-items-container .cart-item img {
  height: 112px;
}

.header .cart-items-container .cart-item .content h3 {
  font-size: 32px;
  color: var(--black-color);
  padding-bottom: 8px;
}

.header .cart-items-container .cart-item .content .price {
  font-size: 24px;
  color: var(--black-color);
}

.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
  border-radius: unset;
}

.header #menu-btn {
  display: none;
}

/*! header end  */

/*! home start  */
.home {
  min-height: 100vh;
  background: url(../images/home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -232px;
  display: flex;
  align-items: center;
}

.home .content {
  max-width: 960px;
}

.home .content h3 {
  font-size: 160px;
  color: #fff;
  text-shadow: 5px -3px 5px yellow;
}

.home .content p {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.8;
  padding: 16px 0;
  color: #ccc;
}
/*! home end  */

/*! menu start  */
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  gap: 24px;
}

.menu .box-container .box {
  padding: 48px;
  background-color: #fff;
  border-radius: 48px;
  background-color: #fff;
  min-height: 960px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.menu .box-container .box img {
  width: 100%;
  object-fit: cover;
}

.menu .box-container .box .menu-category {
  font-size: 19.2px;
  text-transform: lowercase;
}

.menu .box-container .box h3 {
  font-size: 48px;
  padding: 16px 0;
}

.menu .box-container .box .price {
  font-size: 40px;
  padding: 8px 0;
}

.menu .box-container .box .price span {
  font-size: 24px;
  text-decoration: line-through;
  font-weight: 300;
}

/*! menu end  */

/*! producst start  */
.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  gap: 24px;
}

.products .box-container .box {
  text-align: center;
  background-color: #fff;
  position: relative;
  border-radius: 48px;
  height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px;
}

.products .box-container .box .box-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}

.products .box-container .box .box-head .title {
  font-size: 22.4px;
}

.products .box-container .box .box-head .name {
  font-size: 64px;
  font-weight: bold;
  text-align: start;
  overflow-wrap: anywhere;
}

.products .box-container .dark-bg .box-head .name,
.products .box-container .dark-bg .box-head .title {
  color: #fff;
}

.products .box-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  border-radius: 48px;
}

.products .box-container .dark-bg img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: unset;
}

.products .box-container .box-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.products .box-container .box-bottom .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.products .box-container .box-bottom .info .price {
  font-size: 48px;
}

.products .box-container .box-bottom .info .amount {
  font-size: 22.4px;
}

.products .box-container .dark-bg .box-bottom .info .price,
.products .box-container .dark-bg .box-bottom .info .amount {
  color: #fff;
}

.products .box-container .box-bottom .product-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 104px;
  height: 104px;
  border: 3.2px solid var(--main-color);
}

.products .box-container .box-bottom .product-btn a i {
  font-size: 25.6px;
  color: var(--main-color);
}

/*! producst end  */

/*! about start  */
.about .row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
}

.about .row .image {
  flex: 1 1 720px;
}

.about .row img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 720px;
}

.about .row .content h3 {
  font-size: 48px;
  color: white;
  padding: 16px 0;
  line-height: 1.8;
}

/*! about end  */

/*! review start  */
.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}

.review .box-container .box {
  border: var(--border);
  text-align: center;
  padding: 80px 48px;
  background-color: #fff;
  border-radius: 48px;
}

.review .box-container .box p {
  font-size: 24px;
  line-height: 1.8;
  padding: 32px 0;
}

.review .box-container .box .user {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3 {
  padding: 16px 0;
  font-size: 32px;
  color: var(--main-color);
}

.review .box-container .box .stars i {
  font-size: 24px;
  color: gold;
}

/*! review end  */

/*! contact start  */
.contact .row {
  display: flex;
  background-color: var(--black-color);
  flex-wrap: wrap;
  gap: 16px;
}

.contact .row .map {
  flex: 1 1 720px;
  width: 100%;
  object-fit: cover;
}
.contact .row form {
  flex: 1 1 720px;
  padding: 80px 32px;
  text-align: center;
}

.contact .row form h3 {
  text-transform: uppercase;
  font-size: 56px;
  color: #fff;
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin: 32px 0;
  border: var(--border);
}

.contact .row form .inputBox i {
  color: #fff;
  font-size: 32px;
  padding-left: 32px;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 32px;
  font-size: 27.2px;
  color: #fff;
  text-transform: none;
  background-color: transparent;
}

.contact .row form .btn {
  color: var(--main-color);
  background-color: #fff;
  font-weight: bold;
}

/*! contact end  */

/*! blog start  */
.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  gap: 24px;
}

.blogs .box-container .box {
  background-color: #fff;
  border-radius: 48px;
}

.blogs .box-container .box .image {
  height: 400px;
  overflow: hidden;
  width: 100%;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
}

.blogs .box-container .box .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.blogs .box-container .box:hover .image img {
  transform: scale(1.2);
}

.blogs .box-container .box .content {
  padding: 32px;
}

.blogs .box-container .box .content .title {
  line-height: 1.5;
  font-size: 40px;
}

.blogs .box-container .box .content span {
  display: block;
  padding-top: 16px;
  font-size: 32px;
}

.blogs .box-container .box .content p {
  font-size: 25.6px;
  line-height: 1.8;
  color: #ccc;
  padding: 16px 0;
}
/*! blog end  */

/*! footer start  */
.footer {
  background-color: var(--black-color);
  text-align: center;
}

.footer .search {
  display: flex;
  justify-content: center;
}

.footer .search .search-input {
  width: 480px;
}

.footer .search .btn-primary {
  background-color: var(--main-color);
  padding: 16px 32px;
  margin-left: 16px;
}

.footer .share {
  padding: 32px 0;
}

.footer .share a {
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #fff;
  font-size: 32px;
  border: var(--border);
  border-radius: 50%;
  margin: 4.8px;
}

.footer .share a:hover {
  background-color: var(--main-color);
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.footer .links a {
  background-color: var(--main-color);
  padding: 11.2px 32px;
  color: #fff;
  font-size: 32px;
  border: var(--border);
}

.footer .links a:hover {
  background-color: var(--black-color);
  opacity: 0.7;
}

.footer .links a.active {
  background-color: var(--black-color);
}

.footer .credit {
  font-size: 32px;
  color: #fff;
  font-weight: 300;
  padding-top: 24px;
}

.footer .credit span {
  color: var(--main-color);
}
/*! footer end  */

/*! responsive start  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 24px 32px;
  }

  .header .logo img {
    height: 112px;
  }

  section {
    padding: 32px;
  }

  .products .box-container .box .box-head .name {
    font-size: 54px;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 95%;
    background-color: #fff;
    height: calc(100vh - 144px);
    width: 480px;
    box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
    right: -100%;
  }

  .header .navbar.active {
    right: 48px;
  }

  .header .navbar a {
    color: var(--black-color);
    display: block;
    margin: 24px;
    padding: 8px;
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }

  .header .search-form {
    width: 480px;
  }
}

/*! responsive end  */
